@charset "ISO-8859-1";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
*{
	margin:0;
	font-family: sans-serif;
}
.container{
	display:flex;
	min-height: 100vh;
}

.navbar{
	width: 25%;
	background-color:#ffffff;
	height:auto;
	box-shadow: 6px 0px 15px -3px rgba(0,0,0,0.1);
	position:relative;
}

.navbar .nav-title{
	margin: 30px 10px 20px 10px;
	text-align:Center;
	color: #3661ed;
}

.navbar .items ul{
	 list-style-type: none;
	 display:flex;
	 flex-direction: column;
  	 gap: 10px;
  	 margin-top:10px;
  	 padding: 0;
}

.navbar .items ul li{
	padding: 10px 20px;

}

.navbar .items ul li a span{
	color: #6d8ffd;
	margin-right: 10px;
}

.user-container{
	position:absolute;
	bottom:0px;
	padding:10px;
	display:flex;
	flex-direction:column;
}

.user-container .btn{
	width:80% !important;
	margin: 10px 0 !important;
	align-self:start !important;
}

a{
	display: flex;
    align-items: center;
	text-decoration: none;
	color: #6d8ffd;
	font-weight:700;
}

.active{
	    color: #3661ed !important;
}

.active span{
	    color: #3661ed !important;
}

.content-table{
	border-collapse: collapse;
	margin: 25px 0;
	font-size: 0.9em;
	min-width: 400px;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

.obj-inactivo content-table td {
	
}

.content-table th{
	background-color: black;
	color: #ffffff;
	text-align: left;
	font-weight: bold;
}

.content-table th,
.content-table td{
	padding: 12px 15px;
}


.content-table tbody tr:nth-of-type(even){
	background-color: #f3f3f3;
}

.header-table-blue th{
	background-color: #3661ed !important;
}

.d-flex{
	display:flex;
	flex-direction:row;
}

.fd-row{
	flex-direction:row;
}

.fd-column{
	flex-direction:column;
}

.jc-sb{
	justify-content:space-between;
}

.m-auto{
	margin:auto;
}

.title-section{
	padding-top:30px;
}

.style-form .row{
	    margin: 7px 0px;
	    justify-content:space-between;
	   
}

.style-form .campo{
	
	all: unset;
	background-color: rgb(232 240 254);
    padding: 10px;
    border-bottom: 1px solid  #3661ed;

}

.style-form .select{
	background-color: rgb(232 240 254);
    padding: 10px;
    border: 1px solid  #3661ed;
}

.style-form label{
	font-weight:bold;
}

.style-form .row div{
width:30%;
}

.w-50{
	width: 40% !important;
}

.w-100{
	Width: 100% !important;
}


/* BOTONES */

.btn{
	all: unset;
	cursor:pointer;
	color: #fff;
	border-radius:5px;
	width:30%;
	padding: 6px;
    margin: 0px 5px;
    align-self: end;
    text-align:center;
}

.bg-blue{
	background-color: #3661ed;
}

.bg-green{
	background-color: #4ec326;
}

.bg-red{
	background-color: #eb2a2a !important;
}

.filtro{
	display:flex;
	justify-content:space-between;
	align-items:center;
	width:70%;
}

.error {
  color: red;
  font-size: 12px;
}

.position-relative{
	position: relative;
}

.position-absolute{
	position: absolute;
}

